html, body {
	background: #222;
	margin: 0;
}

* {
	color: #ddd;
}

main {
	max-width: 900px;
	left: 0;
	right: 0;
	margin: 75px auto;
}
main.wide {
	max-width: 90%;
}

main.wide h1,
main.wide h2,
main.wide h3,
main.wide p,
main.wide li,
main.wide aside {
	max-width: 900px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
main.wide aside {
	max-width: 700px !important;
}

h1, h2, h3 { font-family: "IBM Plex Sans", "Noto Sans", "Fira Sans", "Arial", sans-serif; }
h1 {
	text-align: center;
	font-size: 32pt;
	margin-bottom: 3rem;
}
h2 { font-size: 26pt; }
h3 { font-size: 20pt; }
hr, h2 { margin-top: 3rem; }

p, li, aside {
	font-size: 14pt;
	font-family: "Work Sans", "Nunito Sans", "IBM Plex Sans", "Noto Sans", "Fira Sans", "Arial", sans-serif;
}

.center {
	text-align: center;
}

aside {
	padding: 20px;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.4);
	text-align: center;
	font-style: italic;
}

code {
	background: rgba(255, 255, 255, 0.1);
	font-family: "Courier New", monospace;
	padding: 1px 4px;
	border-radius: 3px;
}